.noteitContainer {
    display: none;
    width: 158px !important;   
    border-radius: 5px;
    background-color: #212121ea;
    color: #4C89EB;
    font-family: sans-serif;
   
    .arrow {  
      width: 0; 
      height: 0;    
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-bottom: 15px solid white;
      position: absolute;
      left: 70px; 
      top: -15px;
    }
  
    svg {
      width: 12px;
      height: 12px;
      margin-right: 8px;
      fill: #4C89EB;
    }
  
    .hightLight {
      border-bottom: 1px solid #F2F5FF;

      .selection {
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 5px 10px;
        
        .color {
          width: 18px;
          height: 18px;
          border-radius: 50%;
          background-color: red;
          opacity: .4;
          transition: .3s all;
          cursor: pointer;
    
          &:hover {
            opacity: 1;
          }
        }

      }

      .folders {
        padding: 10px 8px 10px 8px;
        font-size: 14px;
        color: #fff;
        display: flex; 
        justify-content: space-between;
        align-items: center;     
        transition: .3s all;  
        cursor: pointer; 
        p {
          margin: 0 !important;
        }

        svg {
          width: 10px;
          transform: rotate(90deg);
          fill: #fff;
          margin: 0 !important;
        }
        
        &:hover {
          background-color: #808080; 
        }
      }

      .folderOption {
        display: none; 
        width: 240px;
        border-radius: 0 5px 5px 5px;
        position: absolute; 
        max-height: 240px;
        overflow: auto;  
        top: 40px;    
        left: 166px;
        background-color: #212121ea;
        
        .topPart {
          padding: 8px 10px;
          span {
            font-size: 14px;
          }
  
          input {
            width: 100%;
            font-size: 14px;
            background-color: #808080;
            color: #fff;
            border-radius: 5px;
            padding: 5px;
            box-sizing: border-box;
            border: none;
            margin-top: 12px;
  
            &::placeholder {
              color: #fff;
            }
          }
        }
        

        ul {
          list-style-type: none;
          padding: 1px;
          margin-top: 0px;
          margin-bottom: 0;
          padding-bottom: 8px;
          color: #fff;

          li {
            padding: 6px 12px;
            border-top: .5px solid #fff;
            font-size: 14px;
            cursor: pointer;

            &:last-child {
              border-bottom: .5px solid #fff;
            }

            &:hover {
              background-color: #808080;
            }
          }

          .selected {
            background-color: #808080;
          }
        }

        #createFolderBtn {
          display: flex;
          align-items: center;
          padding: 10px;
          margin-top: -8px;
          font-size: 14px;
          color: #fff;
          cursor: pointer;

          svg {
            fill: #fff;
          } 

          &:hover {
            background-color: #808080;
          }
        }
      }

      #yellow {
        background-color: #FFF83E;
      }
  
      #green {
        background-color: #91EFA4;
      }
  
      #blue {
        background-color: #48C6FF;
      }
  
      #red {
        background-color: #FF7DB9;
      }
  
      #orange {
        background-color: #FFC143;
      }
    }
  
    .section {
      padding: 10px 0;
      text-align: center;
      font-size: 16px;
      background-color: transparent;
      border-left: none;
      border-right: none;
      margin: 0 !important;
      border-radius: 0;
      border-bottom: 1px solid #F2F5FF;
      transition: .3s all;
      cursor: pointer;
  
      &:hover {
        background-color: #808080;
      }
    }
  
    .noteDetail {
      width: 240px;
      padding: 8px 10px;
      border-radius: 0 5px 5px 5px;
      position: absolute;
      top: 80px;
      left: 169px;
      background-color: #212121ea;
  
      .dropdown {
        color: #212121ea;
        position: relative;
        margin: 0;
        margin-bottom: 10px;
      }
  
      textarea {
        font-size: 14px;
        resize: none;
        color: #fff;
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
        background-color: #808080;
        border: none;
        height: 105px;
      }
  
      .addBtn, .addAskBtn {
        padding: 0;
        margin-top: 6px;
        text-align: center;
        cursor: pointer;
      }

      #createFolderBtnInNote {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 14px; 
        color: #fff; 
        cursor: pointer;

        svg {
          fill: #fff;
        }
      }
    }

  .chosen-value,
  .value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .chosen-value {
    font-family: 'Open sans', sans-serif;
    height: 34px;
    padding: 6px 10px;
    margin-top: 10px;
    border-radius: 5px;
    height: 25px;
    border: none;
    box-sizing: border-box;
    position: relative;
    background-color: #808080;
    transition: .3s ease-in-out;
    
    &::-webkit-input-placeholder {
      color: #fff;
    }
  
  }

  .value-list {
    list-style: none;
    position: absolute;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    border-radius: 5px;
    transition: .3s ease-in-out;

    margin-top: 43px;
    box-sizing: border-box;
    
    &.open {
    max-height: 180px;
    overflow: auto;
    }
    
    li {
      position: relative;
      height: 25px;
      font-size: 14px;
      background-color: #313131;
      border-top: 0.5px solid #fff;
      padding: 0;
      padding-left: 6px;
      color: #fff;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color .3s;
      opacity: 1;
      
      &:hover {
        background-color: #808080;
      }
      
      &.closed {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        opacity: 0;
      }
    }
    }

    .ask {
      border: none !important;
      padding-bottom: 4px;
    }
 

  }

  #noteit_notification {
    //style
    width: 158px !important;   
    border-radius: 5px;
    background-color: #212121ea;
    font-family: sans-serif;
    color: #53DBB1;
    animation: 3.5s slide-up;
        
    font-size: 14px;
    padding: 8px;
    width: 200px !important;
    //align
    display: flex;
    justify-content: center;
    align-items: center;
    //position
    position: fixed;
    top: 90vh;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;

    svg {
      width: 14px;
      height: 12px;
      margin-right: 9px;
      fill: #53DBB1;
    }

    @keyframes slide-up {
      0% {
        margin-top: 100%;
      }

      33% {
        margin-top: 0%;
        opacity: 1;
      }

      66% {
        margin-top: 0%;
        opacity: 1;
      }

    
      100% {
        margin-top: 100%;
      }
    }
  }

  .danger_notification_noteit {
    color: #F44336 !important;
    svg {
      fill: #F44336 !important;
    }
  }
