
.noteitContainer {
  display: none;
  width: 158px !important;
  border-radius: 5px;
  filter: drop-shadow(0px 2px 6px rgba(35, 81, 235, 0.251));
  background-color: #212121;
  color: #2351EB; }

  .noteitContainer .arrow {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    left: 70px;
    top: -15px; }
  .noteitContainer svg {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    fill: #2351EB; }
  .noteitContainer .hightLight {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #F2F5FF; }
    .noteitContainer .hightLight .color {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: red;
      opacity: .4;
      transition: .3s all;
      cursor: pointer; }
      .noteitContainer .hightLight .color:hover {
        opacity: 1; }
    .noteitContainer .hightLight #yellow {
      background-color: #FFF83E; }
    .noteitContainer .hightLight #green {
      background-color: #91EFA4; }
    .noteitContainer .hightLight #blue {
      background-color: #48C6FF; }
    .noteitContainer .hightLight #red {
      background-color: #FF7DB9; }
    .noteitContainer .hightLight #orange {
      background-color: #FFC143; }
  .noteitContainer .section {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #F2F5FF;
    transition: .3s all;
    cursor: pointer; }
    .noteitContainer .section:hover {
      background-color: #F2F5FF; }
  .noteitContainer .noteDetail {
    width: 240px;
    padding: 8px 10px;
    border-radius: 0 5px 5px 5px;
    position: absolute;
    left: 160px;
    top: 40px;
    filter: drop-shadow(0px 2px 6px rgba(35, 81, 235, 0.1));
    background-color: #212121; }
    .noteitContainer .noteDetail .dropdown {
      color: #212121;
      padding: 5px 5px 5px 20px; }
      .noteitContainer .noteDetail .dropdown .dropdown-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer; }
      .noteitContainer .noteDetail .dropdown .dropdown-content {
        filter: drop-shadow(0px 2px 6px rgba(35, 81, 235, 0.1));
        background-color: #fff;
        padding: 8px 10px;
        border-radius: 5px;
        position: absolute; }
        .noteitContainer .noteDetail .dropdown .dropdown-content input {
          background: url("https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png") top left no-repeat;
          height: 22px;
          width: 91%;
          font-size: 14px;
          color: #2351EB;
          border-radius: 5px;
          background-color: #F2F5FF;
          border: none;
          padding: 6.5px 8px;
          margin-bottom: 5px; }
        .noteitContainer .noteDetail .dropdown .dropdown-content .item {
          display: flex;
          align-items: center; }
          .noteitContainer .noteDetail .dropdown .dropdown-content .item svg path {
            fill: #2351EB; }
          .noteitContainer .noteDetail .dropdown .dropdown-content .item p {
            margin: 6px 0; }
      .noteitContainer .noteDetail .dropdown svg path {
        fill: #616161; }
    .noteitContainer .noteDetail textarea {
      font-size: 14px;
      resize: none;
      width: 100%;
      border-radius: 5px;
      background-color: #F2F5FF;
      border: none;
      height: 105px; }
    .noteitContainer .noteDetail .addBtn {
      padding: 5px 0;
      text-align: center; }
    .noteitContainer .noteDetail .addAskBtn {
      padding: 5px 0;
      text-align: center; }

/* CSS for dropdown */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.noteitContainer .dropdown form{
  position: relative;
}

.noteitContainer .chosen-value, .noteitContainer .value-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.noteitContainer .chosen-value {
  font-weight: 600;
  letter-spacing: 4px;
  height: 32px;
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
  opacity: .5;
  color: #fff;
  border: 3px solid transparent;
  transition: 0.2s ease-in-out;
}
.noteitContainer .chosen-value::-webkit-input-placeholder {
  color: #fff;
}
.noteitContainer .chosen-value:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}
.noteitContainer .chosen-value:hover::-webkit-input-placeholder {
  color: #fff;
}
.noteitContainer .chosen-value:focus, .noteitContainer .chosen-value.open {
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  outline: 0;
  background-color: #EFEFEF;
  color: #fff;
}
.noteitContainer .chosen-value:focus::-webkit-input-placeholder, .noteitContainer .chosen-value.open::-webkit-input-placeholder {
  color: #fff;
}
.noteitContainer .value-list {
  list-style: none;
  margin-top: 32px;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
}
.noteitContainer .value-list.open {
  max-height: 320px;
  overflow: auto;
}
.noteitContainer .value-list li {
  position: relative;
  height: 32px;
  background-color: #fafcfd;
  padding: 10px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 1;
}
.noteitContainer .value-list li:hover {
  background-color: #2351EB;
}
.noteitContainer .value-list li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 1;
}
