/* line 1, scss/index.scss */
.noteitContainer {
  display: none;
  width: 158px !important;
  border-radius: 5px;
  background-color: #212121ea;
  color: #4C89EB;
  font-family: sans-serif; }
  /* line 9, scss/index.scss */
  .noteitContainer .arrow {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    left: 70px;
    top: -15px; }
  /* line 20, scss/index.scss */
  .noteitContainer svg {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    fill: #4C89EB; }
  /* line 27, scss/index.scss */
  .noteitContainer .hightLight {
    border-bottom: 1px solid #F2F5FF; }
    /* line 30, scss/index.scss */
    .noteitContainer .hightLight .selection {
      display: flex;
      justify-content: space-between;
      padding: 10px 10px 5px 10px; }
      /* line 35, scss/index.scss */
      .noteitContainer .hightLight .selection .color {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: red;
        opacity: .4;
        transition: .3s all;
        cursor: pointer; }
        /* line 44, scss/index.scss */
        .noteitContainer .hightLight .selection .color:hover {
          opacity: 1; }
    /* line 51, scss/index.scss */
    .noteitContainer .hightLight .folders {
      padding: 10px 8px 10px 8px;
      font-size: 14px;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: .3s all;
      cursor: pointer; }
      /* line 60, scss/index.scss */
      .noteitContainer .hightLight .folders p {
        margin: 0 !important; }
      /* line 64, scss/index.scss */
      .noteitContainer .hightLight .folders svg {
        width: 10px;
        transform: rotate(90deg);
        fill: #fff;
        margin: 0 !important; }
      /* line 71, scss/index.scss */
      .noteitContainer .hightLight .folders:hover {
        background-color: #808080; }
    /* line 76, scss/index.scss */
    .noteitContainer .hightLight .folderOption {
      display: none;
      width: 240px;
      border-radius: 0 5px 5px 5px;
      position: absolute;
      max-height: 240px;
      overflow: auto;
      top: 40px;
      left: 166px;
      background-color: #212121ea; }
      /* line 87, scss/index.scss */
      .noteitContainer .hightLight .folderOption .topPart {
        padding: 8px 10px; }
        /* line 89, scss/index.scss */
        .noteitContainer .hightLight .folderOption .topPart span {
          font-size: 14px; }
        /* line 93, scss/index.scss */
        .noteitContainer .hightLight .folderOption .topPart input {
          width: 100%;
          font-size: 14px;
          background-color: #808080;
          color: #fff;
          border-radius: 5px;
          padding: 5px;
          box-sizing: border-box;
          border: none;
          margin-top: 12px; }
          /* line 104, scss/index.scss */
          .noteitContainer .hightLight .folderOption .topPart input::placeholder {
            color: #fff; }
      /* line 111, scss/index.scss */
      .noteitContainer .hightLight .folderOption ul {
        list-style-type: none;
        padding: 1px;
        margin-top: 0px;
        margin-bottom: 0;
        padding-bottom: 8px;
        color: #fff; }
        /* line 119, scss/index.scss */
        .noteitContainer .hightLight .folderOption ul li {
          padding: 6px 12px;
          border-top: .5px solid #fff;
          font-size: 14px;
          cursor: pointer; }
          /* line 125, scss/index.scss */
          .noteitContainer .hightLight .folderOption ul li:last-child {
            border-bottom: .5px solid #fff; }
          /* line 129, scss/index.scss */
          .noteitContainer .hightLight .folderOption ul li:hover {
            background-color: #808080; }
        /* line 134, scss/index.scss */
        .noteitContainer .hightLight .folderOption ul .selected {
          background-color: #808080; }
      /* line 139, scss/index.scss */
      .noteitContainer .hightLight .folderOption #createFolderBtn {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-top: -8px;
        font-size: 14px;
        color: #fff;
        cursor: pointer; }
        /* line 148, scss/index.scss */
        .noteitContainer .hightLight .folderOption #createFolderBtn svg {
          fill: #fff; }
        /* line 152, scss/index.scss */
        .noteitContainer .hightLight .folderOption #createFolderBtn:hover {
          background-color: #808080; }
    /* line 158, scss/index.scss */
    .noteitContainer .hightLight #yellow {
      background-color: #FFF83E; }
    /* line 162, scss/index.scss */
    .noteitContainer .hightLight #green {
      background-color: #91EFA4; }
    /* line 166, scss/index.scss */
    .noteitContainer .hightLight #blue {
      background-color: #48C6FF; }
    /* line 170, scss/index.scss */
    .noteitContainer .hightLight #red {
      background-color: #FF7DB9; }
    /* line 174, scss/index.scss */
    .noteitContainer .hightLight #orange {
      background-color: #FFC143; }
  /* line 179, scss/index.scss */
  .noteitContainer .section {
    padding: 10px 0;
    text-align: center;
    background-color: transparent;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #F2F5FF;
    transition: .3s all;
    cursor: pointer; }
    /* line 189, scss/index.scss */
    .noteitContainer .section:hover {
      background-color: #808080; }
  /* line 194, scss/index.scss */
  .noteitContainer .noteDetail {
    width: 240px;
    padding: 8px 10px;
    border-radius: 0 5px 5px 5px;
    position: absolute;
    top: 80px;
    left: 169px;
    background-color: #212121ea; }
    /* line 203, scss/index.scss */
    .noteitContainer .noteDetail .dropdown {
      color: #212121ea;
      position: relative;
      margin: 0;
      margin-bottom: 10px; }
    /* line 210, scss/index.scss */
    .noteitContainer .noteDetail textarea {
      font-size: 14px;
      resize: none;
      color: #fff;
      width: 100%;
      margin-top: 10px;
      border-radius: 5px;
      background-color: #808080;
      border: none;
      height: 105px; }
    /* line 222, scss/index.scss */
    .noteitContainer .noteDetail .addBtn, .noteitContainer .noteDetail .addAskBtn {
      padding: 0;
      margin-top: 6px;
      text-align: center;
      cursor: pointer; }
    /* line 229, scss/index.scss */
    .noteitContainer .noteDetail #createFolderBtnInNote {
      display: flex;
      align-items: center;
      padding: 10px;
      font-size: 14px;
      color: #fff;
      cursor: pointer; }
      /* line 237, scss/index.scss */
      .noteitContainer .noteDetail #createFolderBtnInNote svg {
        fill: #fff; }
  /* line 243, scss/index.scss */
  .noteitContainer .chosen-value,
  .noteitContainer .value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  /* line 251, scss/index.scss */
  .noteitContainer .chosen-value {
    font-family: 'Open sans', sans-serif;
    height: 34px;
    padding: 6px 10px;
    margin-top: 10px;
    border-radius: 5px;
    height: 25px;
    border: none;
    box-sizing: border-box;
    position: relative;
    background-color: #808080;
    transition: .3s ease-in-out; }
    /* line 264, scss/index.scss */
    .noteitContainer .chosen-value::-webkit-input-placeholder {
      color: #fff; }
  /* line 270, scss/index.scss */
  .noteitContainer .value-list {
    list-style: none;
    position: absolute;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    border-radius: 5px;
    transition: .3s ease-in-out;
    margin-top: 43px;
    box-sizing: border-box; }
    /* line 282, scss/index.scss */
    .noteitContainer .value-list.open {
      max-height: 180px;
      overflow: auto; }
    /* line 287, scss/index.scss */
    .noteitContainer .value-list li {
      position: relative;
      height: 25px;
      font-size: 14px;
      background-color: #313131;
      border-top: 0.5px solid #fff;
      padding: 0;
      padding-left: 6px;
      color: #fff;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color .3s;
      opacity: 1; }
      /* line 302, scss/index.scss */
      .noteitContainer .value-list li:hover {
        background-color: #808080; }
      /* line 306, scss/index.scss */
      .noteitContainer .value-list li.closed {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        opacity: 0; }
  /* line 315, scss/index.scss */
  .noteitContainer .ask {
    border: none !important;
    padding-bottom: 4px; }
  /* line 320, scss/index.scss */
  .noteitContainer .notify {
    display: none; }
