/* line 1, scss/index.scss */
.noteitContainer {
  display: none;
  width: 158px !important;
  border-radius: 5px;
  background-color: #212121ea;
  color: #4C89EB;
  font-family: sans-serif; }
  /* line 9, scss/index.scss */
  .noteitContainer .arrow {
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 15px solid white;
    position: absolute;
    left: 70px;
    top: -15px; }
  /* line 20, scss/index.scss */
  .noteitContainer svg {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    fill: #4C89EB; }
  /* line 27, scss/index.scss */
  .noteitContainer .hightLight {
    border-bottom: 1px solid #F2F5FF; }
    /* line 30, scss/index.scss */
    .noteitContainer .hightLight .selection {
      display: flex;
      justify-content: space-between;
      padding: 10px; }
      /* line 35, scss/index.scss */
      .noteitContainer .hightLight .selection .color {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: red;
        opacity: .4;
        transition: .3s all;
        cursor: pointer; }
        /* line 44, scss/index.scss */
        .noteitContainer .hightLight .selection .color:hover {
          opacity: 1; }
    /* line 51, scss/index.scss */
    .noteitContainer .hightLight .folders {
      padding: 10px 8px 10px 8px;
      font-size: 14px;
      margin-top: -5px;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: .3s all;
      cursor: pointer; }
      /* line 61, scss/index.scss */
      .noteitContainer .hightLight .folders p {
        margin: 0 !important; }
      /* line 65, scss/index.scss */
      .noteitContainer .hightLight .folders svg {
        width: 10px;
        transform: rotate(90deg);
        fill: #fff;
        margin: 0 !important; }
      /* line 72, scss/index.scss */
      .noteitContainer .hightLight .folders:hover {
        background-color: #808080; }
    /* line 77, scss/index.scss */
    .noteitContainer .hightLight .folderOption {
      display: none;
      width: 240px;
      border-radius: 0 5px 5px 5px;
      position: absolute;
      max-height: 240px;
      overflow: auto;
      top: 40px;
      left: 166px;
      background-color: #212121ea; }
      /* line 88, scss/index.scss */
      .noteitContainer .hightLight .folderOption .topPart {
        padding: 8px 10px; }
        /* line 90, scss/index.scss */
        .noteitContainer .hightLight .folderOption .topPart span {
          font-size: 14px; }
        /* line 94, scss/index.scss */
        .noteitContainer .hightLight .folderOption .topPart input {
          width: 100%;
          font-size: 14px;
          background-color: #808080;
          color: #fff;
          border-radius: 5px;
          padding: 5px;
          box-sizing: border-box;
          border: none;
          margin-top: 12px; }
          /* line 105, scss/index.scss */
          .noteitContainer .hightLight .folderOption .topPart input::placeholder {
            color: #fff; }
      /* line 112, scss/index.scss */
      .noteitContainer .hightLight .folderOption ul {
        list-style-type: none;
        padding: 1px;
        margin: 0 !important;
        padding-bottom: 8px;
        color: #fff; }
        /* line 119, scss/index.scss */
        .noteitContainer .hightLight .folderOption ul li {
          padding: 6px 12px;
          border-top: .5px solid #fff;
          font-size: 14px;
          cursor: pointer; }
          /* line 125, scss/index.scss */
          .noteitContainer .hightLight .folderOption ul li:last-child {
            border-bottom: .5px solid #fff; }
          /* line 129, scss/index.scss */
          .noteitContainer .hightLight .folderOption ul li:hover {
            background-color: #808080; }
        /* line 134, scss/index.scss */
        .noteitContainer .hightLight .folderOption ul .selected {
          background-color: #808080; }
      /* line 139, scss/index.scss */
      .noteitContainer .hightLight .folderOption #createFolderBtn {
        display: flex;
        align-items: center;
        padding: 10px;
        margin-top: -8px;
        font-size: 14px;
        color: #fff;
        cursor: pointer; }
        /* line 148, scss/index.scss */
        .noteitContainer .hightLight .folderOption #createFolderBtn svg {
          fill: #fff; }
        /* line 152, scss/index.scss */
        .noteitContainer .hightLight .folderOption #createFolderBtn:hover {
          background-color: #808080; }
    /* line 158, scss/index.scss */
    .noteitContainer .hightLight #yellow {
      background-color: #FFF83E; }
    /* line 162, scss/index.scss */
    .noteitContainer .hightLight #green {
      background-color: #91EFA4; }
    /* line 166, scss/index.scss */
    .noteitContainer .hightLight #blue {
      background-color: #48C6FF; }
    /* line 170, scss/index.scss */
    .noteitContainer .hightLight #red {
      background-color: #FF7DB9; }
    /* line 174, scss/index.scss */
    .noteitContainer .hightLight #orange {
      background-color: #FFC143; }
  /* line 179, scss/index.scss */
  .noteitContainer .section {
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
    border-left: none;
    border-right: none;
    margin: 0 !important;
    max-width: 100% !important;
    border-radius: 0;
    border-bottom: 1px solid #F2F5FF;
    transition: .3s all;
    cursor: pointer; }
    /* line 193, scss/index.scss */
    .noteitContainer .section:hover {
      background-color: #808080; }
  /* line 198, scss/index.scss */
  .noteitContainer .noteDetail {
    width: 240px;
    padding: 8px 10px;
    border-radius: 0 5px 5px 5px;
    position: absolute;
    top: 80px;
    left: 169px;
    background-color: #212121ea; }
    /* line 207, scss/index.scss */
    .noteitContainer .noteDetail .dropdown {
      color: #212121ea;
      position: relative;
      margin: 0;
      margin-bottom: 10px; }
    /* line 214, scss/index.scss */
    .noteitContainer .noteDetail textarea {
      font-size: 14px;
      resize: none;
      color: #fff;
      width: 100%;
      margin-top: 10px;
      border-radius: 5px;
      background-color: #808080;
      border: none;
      height: 105px; }
    /* line 226, scss/index.scss */
    .noteitContainer .noteDetail .firstTitle {
      margin-bottom: 0 !important; }
    /* line 230, scss/index.scss */
    .noteitContainer .noteDetail .addBtn, .noteitContainer .noteDetail .addAskBtn {
      padding: 0;
      margin-top: 6px;
      text-align: center;
      cursor: pointer; }
    /* line 237, scss/index.scss */
    .noteitContainer .noteDetail #createFolderBtnInNote {
      display: flex;
      align-items: center;
      padding: 10px;
      font-size: 14px;
      color: #fff;
      cursor: pointer; }
      /* line 245, scss/index.scss */
      .noteitContainer .noteDetail #createFolderBtnInNote svg {
        fill: #fff; }
  /* line 251, scss/index.scss */
  .noteitContainer .chosen-value,
  .noteitContainer .value-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  /* line 259, scss/index.scss */
  .noteitContainer .chosen-value {
    font-family: 'Open sans', sans-serif;
    height: 34px;
    padding: 6px 10px;
    margin-top: 10px;
    border-radius: 5px;
    height: 25px;
    border: none;
    box-sizing: border-box;
    position: relative;
    background-color: #808080;
    transition: .3s ease-in-out; }
    /* line 272, scss/index.scss */
    .noteitContainer .chosen-value::-webkit-input-placeholder {
      color: #fff; }
  /* line 278, scss/index.scss */
  .noteitContainer .value-list {
    list-style: none;
    position: absolute;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    border-radius: 5px;
    transition: .3s ease-in-out;
    margin-top: 43px;
    box-sizing: border-box; }
    /* line 290, scss/index.scss */
    .noteitContainer .value-list.open {
      max-height: 180px;
      overflow: auto; }
    /* line 295, scss/index.scss */
    .noteitContainer .value-list li {
      position: relative;
      height: 25px;
      font-size: 14px;
      background-color: #313131;
      border-top: 0.5px solid #fff;
      padding: 0;
      padding-left: 6px;
      color: #fff;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color .3s;
      opacity: 1; }
      /* line 310, scss/index.scss */
      .noteitContainer .value-list li:hover {
        background-color: #808080; }
      /* line 314, scss/index.scss */
      .noteitContainer .value-list li.closed {
        max-height: 0;
        overflow: hidden;
        padding: 0;
        opacity: 0; }
  /* line 323, scss/index.scss */
  .noteitContainer .ask {
    border: none !important;
    padding-bottom: 4px; }
  /* line 329, scss/index.scss */
  .noteitContainer .lds-roller {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    width: 80px;
    height: 80px; }
    /* line 336, scss/index.scss */
    .noteitContainer .lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px; }
      /* line 340, scss/index.scss */
      .noteitContainer .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #fff;
        margin: -4px 0 0 -4px; }
      /* line 351, scss/index.scss */
      .noteitContainer .lds-roller div:nth-child(1) {
        animation-delay: -0.036s; }
        /* line 354, scss/index.scss */
        .noteitContainer .lds-roller div:nth-child(1):after {
          top: 63px;
          left: 63px; }
      /* line 360, scss/index.scss */
      .noteitContainer .lds-roller div:nth-child(2) {
        animation-delay: -0.072s; }
        /* line 363, scss/index.scss */
        .noteitContainer .lds-roller div:nth-child(2):after {
          top: 68px;
          left: 56px; }
      /* line 369, scss/index.scss */
      .noteitContainer .lds-roller div:nth-child(3) {
        animation-delay: -0.108s; }
        /* line 372, scss/index.scss */
        .noteitContainer .lds-roller div:nth-child(3):after {
          top: 71px;
          left: 48px; }
      /* line 378, scss/index.scss */
      .noteitContainer .lds-roller div:nth-child(4) {
        animation-delay: -0.144s; }
        /* line 381, scss/index.scss */
        .noteitContainer .lds-roller div:nth-child(4):after {
          top: 72px;
          left: 40px; }
      /* line 387, scss/index.scss */
      .noteitContainer .lds-roller div:nth-child(5) {
        animation-delay: -0.18s; }
        /* line 390, scss/index.scss */
        .noteitContainer .lds-roller div:nth-child(5):after {
          top: 71px;
          left: 32px; }
      /* line 396, scss/index.scss */
      .noteitContainer .lds-roller div:nth-child(6) {
        animation-delay: -0.216s; }
        /* line 399, scss/index.scss */
        .noteitContainer .lds-roller div:nth-child(6):after {
          top: 68px;
          left: 24px; }
      /* line 405, scss/index.scss */
      .noteitContainer .lds-roller div:nth-child(7) {
        animation-delay: -0.252s; }
        /* line 408, scss/index.scss */
        .noteitContainer .lds-roller div:nth-child(7):after {
          top: 63px;
          left: 17px; }
      /* line 414, scss/index.scss */
      .noteitContainer .lds-roller div:nth-child(8) {
        animation-delay: -0.288s; }
        /* line 417, scss/index.scss */
        .noteitContainer .lds-roller div:nth-child(8):after {
          top: 56px;
          left: 12px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* line 436, scss/index.scss */
#noteit_notification {
  width: 158px !important;
  border-radius: 5px;
  background-color: #212121ea;
  font-family: sans-serif;
  color: #53DBB1;
  animation: 3.5s slide-up;
  font-size: 14px;
  padding: 8px;
  width: 200px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 90vh;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0; }
  /* line 459, scss/index.scss */
  #noteit_notification svg {
    width: 14px;
    height: 12px;
    margin-right: 9px;
    fill: #53DBB1; }

@keyframes slide-up {
  0% {
    margin-top: 100%; }
  33% {
    margin-top: 0%;
    opacity: 1; }
  66% {
    margin-top: 0%;
    opacity: 1; }
  100% {
    margin-top: 100%; } }

/* line 488, scss/index.scss */
.danger_notification_noteit {
  color: #F44336 !important; }
  /* line 490, scss/index.scss */
  .danger_notification_noteit svg {
    fill: #F44336 !important; }
