/* line 1, scss/index.scss */
/* line 2, html/css/scss/index.css */
.noteitContainer {
  width: 158px !important;
  border-radius: 5px;
  background-color: #212121ea;
  color: #4C89EB;
  font-family: sans-serif; }

/* line 9, scss/index.scss */
/* line 9, html/css/scss/index.css */
.noteitContainer .arrow {
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 15px solid white;
  position: absolute;
  left: 70px;
  top: -15px; }

/* line 20, scss/index.scss */
/* line 19, html/css/scss/index.css */
.noteitContainer svg {
  width: 12px;
  height: 12px;
  margin-right: 8px;
  fill: #4C89EB; }

/* line 27, scss/index.scss */
/* line 25, html/css/scss/index.css */
.noteitContainer .hightLight {
  border-bottom: 1px solid #F2F5FF; }

/* line 30, scss/index.scss */
/* line 28, html/css/scss/index.css */
.noteitContainer .hightLight .selection {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 5px 10px; }

/* line 35, scss/index.scss */
/* line 33, html/css/scss/index.css */
.noteitContainer .hightLight .selection .color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: red;
  opacity: .4;
  transition: .3s all;
  cursor: pointer; }

/* line 44, scss/index.scss */
/* line 42, html/css/scss/index.css */
.noteitContainer .hightLight .selection .color:hover {
  opacity: 1; }

/* line 51, scss/index.scss */
/* line 45, html/css/scss/index.css */
.noteitContainer .hightLight .folders {
  padding: 10px 8px 10px 8px;
  font-size: 14px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s all;
  cursor: pointer; }

/* line 60, scss/index.scss */
/* line 55, html/css/scss/index.css */
.noteitContainer .hightLight .folders p {
  margin: 0; }

/* line 64, scss/index.scss */
/* line 58, html/css/scss/index.css */
.noteitContainer .hightLight .folders svg {
  width: 10px;
  transform: rotate(90deg);
  fill: #fff; }

/* line 70, scss/index.scss */
/* line 63, html/css/scss/index.css */
.noteitContainer .hightLight .folders:hover {
  background-color: #808080; }

/* line 75, scss/index.scss */
/* line 66, html/css/scss/index.css */
.noteitContainer .hightLight .folderOption {
  width: 240px;
  border-radius: 0 5px 5px 5px;
  position: absolute;
  max-height: 240px;
  overflow: auto;
  top: 80px;
  left: 166px;
  background-color: #212121ea; }

/* line 85, scss/index.scss */
/* line 76, html/css/scss/index.css */
.noteitContainer .hightLight .folderOption .topPart {
  padding: 8px 10px; }

/* line 87, scss/index.scss */
/* line 79, html/css/scss/index.css */
.noteitContainer .hightLight .folderOption .topPart span {
  font-size: 14px; }

/* line 91, scss/index.scss */
/* line 82, html/css/scss/index.css */
.noteitContainer .hightLight .folderOption .topPart input {
  width: 100%;
  font-size: 14px;
  background-color: #808080;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  margin-top: 12px; }

/* line 102, scss/index.scss */
/* line 93, html/css/scss/index.css */
.noteitContainer .hightLight .folderOption .topPart input::placeholder {
  color: #fff; }

/* line 109, scss/index.scss */
/* line 96, html/css/scss/index.css */
.noteitContainer .hightLight .folderOption ul {
  list-style-type: none;
  padding: 1px;
  margin-top: 0px;
  margin-bottom: 0;
  padding-bottom: 8px;
  color: #fff; }

/* line 117, scss/index.scss */
/* line 104, html/css/scss/index.css */
.noteitContainer .hightLight .folderOption ul li {
  padding: 6px 12px;
  border-top: .5px solid #fff;
  font-size: 14px;
  cursor: pointer; }

/* line 123, scss/index.scss */
/* line 110, html/css/scss/index.css */
.noteitContainer .hightLight .folderOption ul li:last-child {
  border-bottom: .5px solid #fff; }

/* line 127, scss/index.scss */
/* line 113, html/css/scss/index.css */
.noteitContainer .hightLight .folderOption ul li:hover {
  background-color: #808080; }

/* line 133, scss/index.scss */
/* line 116, html/css/scss/index.css */
.noteitContainer .hightLight .folderOption #createFolderBtn {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: -8px;
  font-size: 14px;
  color: #fff;
  cursor: pointer; }

/* line 142, scss/index.scss */
/* line 125, html/css/scss/index.css */
.noteitContainer .hightLight .folderOption #createFolderBtn svg {
  fill: #fff; }

/* line 146, scss/index.scss */
/* line 128, html/css/scss/index.css */
.noteitContainer .hightLight .folderOption #createFolderBtn:hover {
  background-color: #808080; }

/* line 152, scss/index.scss */
/* line 131, html/css/scss/index.css */
.noteitContainer .hightLight #yellow {
  background-color: #FFF83E; }

/* line 156, scss/index.scss */
/* line 134, html/css/scss/index.css */
.noteitContainer .hightLight #green {
  background-color: #91EFA4; }

/* line 160, scss/index.scss */
/* line 137, html/css/scss/index.css */
.noteitContainer .hightLight #blue {
  background-color: #48C6FF; }

/* line 164, scss/index.scss */
/* line 140, html/css/scss/index.css */
.noteitContainer .hightLight #red {
  background-color: #FF7DB9; }

/* line 168, scss/index.scss */
/* line 143, html/css/scss/index.css */
.noteitContainer .hightLight #orange {
  background-color: #FFC143; }

/* line 173, scss/index.scss */
/* line 146, html/css/scss/index.css */
.noteitContainer .section {
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #F2F5FF;
  transition: .3s all;
  cursor: pointer; }

/* line 180, scss/index.scss */
/* line 153, html/css/scss/index.css */
.noteitContainer .section:hover {
  background-color: #F2F5FF; }

/* line 185, scss/index.scss */
/* line 156, html/css/scss/index.css */
.noteitContainer .noteDetail {
  display: none;
  width: 240px;
  padding: 8px 10px;
  border-radius: 0 5px 5px 5px;
  position: absolute;
  top: 80px;
  left: 169px;
  background-color: #212121ea; }

/* line 195, scss/index.scss */
/* line 166, html/css/scss/index.css */
.noteitContainer .noteDetail .dropdown {
  color: #212121ea;
  position: relative;
  margin-bottom: 10px; }

/* line 200, scss/index.scss */
/* line 171, html/css/scss/index.css */
.noteitContainer .noteDetail .dropdown #selectFolder2 {
  display: none; }

/* line 209, scss/index.scss */
/* line 174, html/css/scss/index.css */
.noteitContainer .noteDetail textarea {
  font-size: 14px;
  resize: none;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #808080;
  border: none;
  height: 105px; }

/* line 220, scss/index.scss */
/* line 184, html/css/scss/index.css */
.noteitContainer .noteDetail .addBtn, .noteitContainer .noteDetail .addAskBtn {
  padding: 0;
  margin-top: 6px;
  text-align: center;
  cursor: pointer; }

/* line 228, scss/index.scss */
/* line 190, html/css/scss/index.css */
.noteitContainer .chosen-value,
.noteitContainer .value-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

/* line 236, scss/index.scss */
/* line 197, html/css/scss/index.css */
.noteitContainer .chosen-value {
  font-family: 'Open sans', sans-serif;
  height: 34px;
  padding: 6px 10px;
  margin-top: 10px;
  border-radius: 5px;
  height: 25px;
  border: none;
  box-sizing: border-box;
  position: relative;
  background-color: #808080;
  transition: .3s ease-in-out; }

/* line 249, scss/index.scss */
/* line 210, html/css/scss/index.css */
.noteitContainer .chosen-value::-webkit-input-placeholder {
  color: #fff; }

/* line 255, scss/index.scss */
/* line 213, html/css/scss/index.css */
.noteitContainer .value-list {
  list-style: none;
  position: absolute;
  overflow: hidden;
  max-height: 0;
  border-radius: 5px;
  transition: .3s ease-in-out;
  margin-top: 43px;
  box-sizing: border-box; }

/* line 266, scss/index.scss */
/* line 223, html/css/scss/index.css */
.noteitContainer .value-list.open {
  max-height: 320px;
  overflow: auto; }

/* line 271, scss/index.scss */
/* line 227, html/css/scss/index.css */
.noteitContainer .value-list li {
  position: relative;
  height: 25px;
  font-size: 14px;
  background-color: #313131;
  border-top: 0.5px solid #fff;
  padding: 0;
  padding-left: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color .3s;
  opacity: 1; }

/* line 286, scss/index.scss */
/* line 242, html/css/scss/index.css */
.noteitContainer .value-list li:hover {
  background-color: #808080; }

/* line 290, scss/index.scss */
/* line 245, html/css/scss/index.css */
.noteitContainer .value-list li.closed {
  max-height: 0;
  overflow: hidden;
  padding: 0;
  opacity: 0; }

/* line 299, scss/index.scss */
/* line 251, html/css/scss/index.css */
.noteitContainer .ask {
  border: none !important;
  padding-bottom: 4px; }
